@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Birthstone&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
}

body {
    color: #787775;
    background: #f9f6f2;
    font-family: Arial, sans-serif;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
  
    font-style: normal;
}

a {
    text-decoration: none;
}

section {
    padding: 3rem 0 2rem;
}

.container {
    max-width: 1060px;
    margin: auto;
    width: 100%;
    padding: 0 20px;
}

header {
    position: fixed;
    top: 20px;
    left: 0;
    width: 100%;
    z-index: 100;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffffdb;
    padding: 17px 20px;
    border-radius: 2rem;
}

.logo {
    width: 100px;
    height: 75px;
}

.navbar {
    display: flex;
    align-items: center;
    column-gap: 2.5rem;
}

.nav-link {
    font-size: 0.9rem;
    color: #0c0c0c;
    transition: 0.4s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.nav-link:hover {
    color: #898681;
}

.nav-icons {
    display: flex;
    align-items: center;
    column-gap: 1.2rem;
}
.heading{
    text-align: center;
    margin-bottom: 2rem;
}
.heading img{
    height: 6.5rem;
    margin-bottom:  1rem;
}
.heading h3{
    font-size: 6rem;
    color: #0c0c0c;
    font-family: "Birthstone", cursive;
    margin-top: -50px;

}
.nav-icons .bx {
    color: #090909;
    font-size: 1.5rem;
}

.nav-icons .bx:hover {
    color: #898681;
}

.home-bg {
    background: linear-gradient(90deg, white, transparent 60%), 
                url(img/pri.png) no-repeat center/cover;
    width: 100%;
    height: 100vh; 
    position: relative;
}

.home-bg .home {
    display: flex;
    justify-content: center; 
    align-items: center; 
    min-height: 100vh; 
    text-align: center;
}

.home-bg .home .content {
    max-width: 50rem;
    padding: 20px;
}

.home-bg .home .content h3{
    font-size: 6rem;
    font-family: "Birthstone", cursive;
  font-weight: 400;
  color: #655e5e;

}
.home-bg .home .content p{
    color: #655e5e;
    text-align: justify;

}
.btn {

    display: inline-block;
    padding: 12px 24px;
    margin: 20px;
    background: #0c0c0c; 
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 8px;
    transition: 0.3s ease-in-out;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

.btn:hover {
   
    background:  #9b9393;

    color: #0c0c0c;
    transform: scale(1.05);
}

.facility {
    text-align: center; 
}

.facility .heading {
    width: 100%; 
    margin-bottom: 2rem; 
}

.facility .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap: 1.9rem;
    align-items: flex-start;
    justify-content: center;
    max-width: 998px;
    width: 100%;
    margin: 0 auto; 

}

.box p{
    width: 400px;
    text-align: justify;
    margin: 0 auto; 
}
.box i{
    font-size: 2rem;
}

.menu .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 30rem);
    gap: 2rem;
    align-items: flex-start;
    justify-content: center;

}
.menu .box-container .box{
    
    text-align: center;
}
.menu .box-container .box img{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 1rem;
    box-shadow: 0px 8px 25px rgb(24, 12, 0);
    transition: all 0.4s ease-in-out;
}


.menu .box-container .box h3 {
    font-size: 1.6rem;
    padding: 10px 0;
    color: #333;
}

.menu .box-container .box p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 10px;
}

.menu .box-container .box h2 {
    font-size: 2.3rem;
    color: #ac0808;
    font-family: "Birthstone", cursive;
    font-weight: bolder;
    margin-top: 15px;
    display: flex;
    font-style: italic;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.menu .box-container .box h2 span {
    font-size: 1rem;
    font-family: "Roboto Slab", serif;
    color: #777;
    font-weight: normal;
    margin-left: 5px;
}

.menu .box-container .box h2:hover {
    color: #6c0202;

    transform: scale(1.05);
    transition: 0.3s ease-in-out;
}

.team .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 30rem);
    gap: 1.5rem;
    justify-content: center;

}

.team .box-container .box{
    text-align: center;
    margin: 10px;
}
.team .box-container .box img{
    width: 100%;
    object-fit: cover;
    height: 400px;
    filter: grayscale(30%) contrast(120%);
    transition: filter 0.3s ease-in-out;
}

.team .box-container .box img:hover{
    filter: grayscale(0%) contrast(120%);


}

.team .box-container .box h3 {
    font-size: 2rem;
    font-weight: 600; 
    margin: 10px 0; 
    text-align: center; 
    letter-spacing: 0.5px; 
    font-optical-sizing: auto;
    font-style: normal;
}


.reviews img{
    height: 8.5rem;

}
.reviews h3{
    font-size: 6rem;

}
.reviews {
    text-align: center;
    padding: 50px 5%;
    color: #333;
}


.review-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.review {
    background: rgba(255, 255, 255, 0.104);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 280px;
    text-align: center;
}

.review .stars {
    font-size: 1.3rem;
    margin-bottom: 10px;
}

.review p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 10px;
}

.review h4 {
    font-size: 1rem;
    font-weight: bold;
    color: #333;
}

.contact .row form h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: black;
}


.contact .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center; 
}

.contact .row .image {
    flex: 1 1 40rem;
    display: flex;
    justify-content: center; 
}

.contact .row .image img {
    width: 600px;
    height: 450px;
    margin-left: 20px;
}

.contact .row form {
    font-family: 'Nunito', 'Times New Roman', Times, serif;

    margin-right:150px; 
    margin-left: -150px;
    flex: 1 1 35rem;
    max-width: 500px;
    border: 2px solid black;
    padding: 1.5rem;
    text-align: center;
    background-color: #f9f6f2;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
}

.contact .row form .box {
    width: 100%; 
    background-color: #f9f6f2;
    padding: 1rem;
    font-size: 1rem;
    color: #0c0c0c;
    border: 2px solid black;
    margin: 1rem 0;
}

@media (max-width: 991px) {
    .nav {
        flex-direction: column;
        text-align: center;
        padding: 10px;
    }

    .navbar {
        max-width:50%;
        flex-direction: column;
        gap: 1rem;
        display: none;
    }

    .nav-icons {
        margin-top: 10px;
    }

    .menu .box-container,
    .facility .box-container {
        grid-template-columns: 1fr;
    }

    .box p {
        width: 90%;
    }

    .home-bg .home .content {
        max-width: 90%;
    }

    .heading h3 {
        font-size: 3rem;
    }

    .review-container .review {
        margin: 10px;
    }

    .contact .row {
        flex-direction: column;
        align-items: center;
    }

    .contact .row .image img {
        width: 80%;
    }

    .footer .box-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

   
    .navbar.active {
        display: flex;
    }
    .contact .row {
        flex-direction: column; 
        gap: 1rem;
    }

    .contact .row .image {
        flex: 1 1 auto;
        max-width: 80%; 
    }

    .contact .row form {
        max-width: 90%; 
        margin: 0 auto; 
    }
    .footer .box-container .box {
        flex: 1; 
        min-width: 35rem; 
        text-align: center;
    }
    
    .footer .box-container .box p {
        min-width: 35rem; 
        margin-bottom: 20px ;
        }
    
}

@media (max-width: 680px) {
    .contact .row {
        gap: 1rem;
    }

    .contact .row .image img {
        max-width: 100%; 
    }

    .contact .row form {
        width: 95%; 
        padding: 1rem;
    }

    .contact .row form .box {
        width: 100%;

    }
    .footer .credit {text-align: center;
    }
   
}


.sorteos .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 30rem);
    gap: 2rem;
    align-items: flex-start;
    justify-content: center;

}
.sorteos .box-container .box{
    text-align: center;
}
.sorteos .box-container .box img{
    width: 100%;
    border-radius: 5px;
    margin-bottom: 1rem;
    box-shadow: 0px 8px 25px rgba(251, 232, 217, 0.891);
    transition: all 0.4s ease-in-out;
}


.sorteos .box-container .box h3 {
    font-size: 6rem;
    color: #0c0c0c;
    font-family: "Birthstone", cursive;
    margin-top: -50px;
}
.sorteos .box-container .box h2 {
    font-size: 1.5rem;
    color: #777;
}
.footer .box-container {
    display: flex; 
    justify-content: space-between; 
    align-items: flex-start;
    flex-wrap: wrap; 
    gap: 1.5rem;
    margin-top: 40px;
}

.footer .box-container .box {
    flex: 1; 
    max-width: 20rem; 
    text-align: center;
}

.footer .box-container .box i {
    font-size: 1.5rem;
    line-height: 3rem;
    height: 3rem;
    width: 3rem;
    color: #f9f6f2;
    border-radius: 50%;
    background-color: #706f6f;
    margin-bottom: 1rem;
}

.footer .box-container .box h3 {
    margin: 1rem 0;
    font-size: 1.5rem;
    color: #0c0c0c;
}

.footer .box-container .box p {
    max-width: 20rem; 

    text-align: center;
    font-size: 1rem;
    color: #655e5e;
}

.footer .credit {
    text-align: center;
    margin-top: 3rem;
    padding-top: 2.5rem;
    border-top: 1px solid #ccc;
    font-size: 1rem;
    color: #0c0c0c;
}
